<%- include('./inc/header', { page_title: "eVoting", css: "<link href='/css/bPrepare.css' rel='stylesheet' type='text/css'/>"}); %>

<main>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content center-align">
						<h1>Vote.</h1>
					</div>
				</div>			
			</div>
		</div>

		<div class="row">

			<div class="col s12">
				<div class="card cardRowMargin" id="election_details_card">
					<div class="row">
						<div class="col s12">
							<h5>Election details</h5>
						</div>
						<div class="col s12 m6">
							<label class="valign-wrapper">Name</label>
							<p class="wordBreakAll"><%= eDetails.name %></p>
						</div>
						<div class="col s12 m6">
							<label class="valign-wrapper">Descriptpon</label>
							<p class="wordBreakAll"><%= eDetails.description %></p>
						</div>
						<div class="col s12 m6">
							<label class="valign-wrapper">Start</label>
							<p class="wordBreakAll"><%= (new Date(eDetails.start)).toLocaleString() %></p>
						</div>
						<div class="col s12 m6">
							<label class="valign-wrapper">End</label>
							<p class="wordBreakAll"><%= (new Date(eDetails.end)).toLocaleString() %></p>
						</div>
					</div>
				</div>
			</div>

			<% eDetails.questions.forEach(function(q, i){ %>
				<div class="col s12">
					<div class="card cardRowMargin q_card">
						<div class="row">
							<div class="col s12">
								<h5>Q<%= i+1 %>: <%= q.question %></h5>
								<label class="valign-wrapper">
									<% if(q.min_choice == q.max_choice){ %>
										Choose exactly <%= q.min_choice %> answer(s)
									<% }else{ %>
										Choose between <%= q.min_choice %> to <%= q.max_choice %> answer(s)
									<% } %>
								</label>
							</div>
							<% q.answers.forEach(function(a, j){ %>
								<div class="col s12 m6 xl4">
									<p>
										<label>
											<input type="checkbox" />
											<span><%= a %></span>
										</label>
									</p>
								</div>
							<% }) %>
						</div>
					</div>
				</div>
			<% }) %>

			<div class="col s12">
				<div class="card cardRowMargin" id="voter_card">
					<div class="row">
						<div class="col s12">
							<h5>Voter info</h5>
						</div>
						<div class="input-field col s12">
							<input id="voterID" type="text">
							<label for="voterID">Voter ID</label>
						</div>
						<div class="input-field col s12">
							<textarea id="priKey" class="materialize-textarea"></textarea>
							<label for="priKey">Private key (for signing only, wont send to server)</label>
						</div>
						<div class="input-field col s12">
							<input type="hidden" id="key_p" value="<%= eDetails.key.p %>">
							<input type="hidden" id="key_g" value="<%= eDetails.key.g %>">
							<input type="hidden" id="key_y" value="<%= eDetails.key.y %>">

							<button id="btn_encrypt" class="btn waves-effect waves-light right">Encrypt ballot</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>

<%- include('./inc/footer', {script: "<script src='http://peterolson.github.com/BigInteger.js/BigInteger.min.js'></script><script src='/js/bPrepare.js'></script>"}); %>