<%- include('./inc/header', { page_title: "eVoting", css: "<link href='/css/eCreate.css' rel='stylesheet' type='text/css'/>"}); %>

<main>
	<div class="row">
		<div class="col s12 l4">
			<div class="card">
				<div class="card-content">
					<h1 class="center-align thin">
						<% if(create){ %>
							Create election
						<% }else{ %>
							Edit election
						<% } %>
					</h1>
				</div>
			</div>
		</div>

		<div class="col s12 l8">
			<div class="row">
				<div class="col s12">
					<div class="card" id="about_card">
						<div class="row">
							<div class="col s12">
								<h5>About the election</h5>
							</div>
							<div class="input-field col s12">
								<input id="election_name" name="election_name" type="text" class="validate"
									<% if(!create){ %>
										value="<%= electionName %>"
									<% } %>
								>
								<label for="election_name">Election name</label>
							</div>
							<div class="input-field col s12">
								<textarea id="election_description" name="election_description" class="materialize-textarea"><% if(!create){ %><%= electionDescription %><% } %></textarea>
								<label for="election_description">Election description</label>
							</div>
							<div class="input-field col s12 l6">
								<input id="election_startDate" type="text" class="datepicker"
									<% if(!create){ %>
										value="<%= electionStart %>"
									<% } %>
								>
								<label for="election_startDate">Start date</label>
							</div>
							<div class="input-field col s12 l6">
								<input id="election_startTime" type="text" class="timepicker"
									<% if(!create){ %>
										value="<%= electionStart %>"
									<% } %>
								>
								<label for="election_startTime">Start time</label>
							</div>
							<div class="input-field col s12 l6">
								<input id="election_endDate" type="text" class="datepicker"
									<% if(!create){ %>
										value="<%= electionEnd %>"
									<% } %>
								>
								<label for="election_endDate">End date</label>
							</div>
							<div class="input-field col s12 l6">
								<input id="election_endTime" type="text" class="timepicker"
									<% if(!create){ %>
										value="<%= electionEnd %>"
									<% } %>
								>
								<label for="election_endTime">End time</label>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12">
					<div class="card" id="pubKey_card">
						<div class="row">
							<div class="col s12">
								<h5>Election public key <button class="btn waves-effect waves-light right" disabled>Generate</button></h5>
							</div>
							<div class="input-field col s12">
								<input id="elgamal_p" name="elgamal_p" type="text" class="validate"
									<% if(!create){ %>
										disabled value="<%= electionKey.p %>"
									<% } %>
								>
								<label for="elgamal_p">Prime number - p (Base64 Encode)</label>
							</div>
							<div class="input-field col s12">
								<input id="elgamal_g" name="elgamal_g" type="text" class="validate"
									<% if(!create){ %>
										disabled value="<%= electionKey.g %>"
									<% } %>
								>
								<label for="elgamal_g">Generator - g (Base64 Encode)</label>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12">
					<div class="card" id="admin_card">
						<div class="row">
							<div class="col s12">
								<h5>
									Election administrator key
									<button id="btn_gen_admin_key" class="btn waves-effect waves-light right"
										<% if(!create){ %>
											disabled
										<% } %>
									>Generate</button>
								</h5>
							</div>
							<div class="input-field col s12">
								<textarea id="admin_pub" name="admin_pub" class="materialize-textarea"
									<% if(!create){ %>
										disabled
									<% } %>
								><% if(!create){ %><%= electionAdmin.pubKey %><% } %></textarea>
								<label for="admin_pub">Public key</label>	
							</div>
							<div class="input-field col s12">
								<textarea id="admin_pri" name="admin_pri" class="materialize-textarea"></textarea>
								<label for="admin_pri">Private key (for signing only, wont send to server)</label>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12">
					<% if(create){ %>
						<button id="btn_create" class="btn waves-effect waves-light right">Create</button>
					<% }else{ %>
						<button id="btn_edit" class="btn waves-effect waves-light right">Edit</button>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('./inc/footer', {script: "<script src='/js/eCreate.js'></script>"}); %>