<%- include('./inc/header', { page_title: "eVoting", css: "<link href='/css/eMan.css' rel='stylesheet' type='text/css'/>"}); %>

<main>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content center-align">
						<h1><%= electionName %></h1>
						<h5><%= electionDescription %></h5>
					</div>
				</div>			
			</div>
		</div>

		<div class="row">
			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Details</span>
					</div>
					<div class="card-content cardMidSection">
						<label class="valign-wrapper"><i class="tiny material-icons">timer</i>Start</label>
						<p><%= (new Date(electionStart)).toLocaleString() %></p>
						<label class="valign-wrapper"><i class="tiny material-icons">timer_off</i>End</label>
						<p><%= (new Date(electionEnd)).toLocaleString() %></p>
					</div>
					<div class="card-action">
						<a href="<%= electionID %>/details">Edit Details</a>
					</div>
				</div>
			</div>

			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-content">
						<span class="card-title">
							Questions
							<span class="secondary-content"><%= electionQ.length %></span>
						</span>
					</div>
					<ul class="collection card_ul">
						<% electionQ.slice(0, 5).forEach(function(q, i){ %>
							<li class="collection-item truncate"><%= (i+1)+". "+q.question %></li>
						<% }) %>
					</ul>
					<div class="card-action">
						<a href="<%= electionID %>/questions">Edit Questions</a>
					</div>
				</div>
			</div>
			
			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-content">
						<span class="card-title">
							Servers
							<span class="secondary-content"><%= electionServer.length %></span>
						</span>
					</div>
					<ul class="collection card_ul">
						<% electionServer.slice(0, 5).forEach(function(q, i){ %>
							<li class="collection-item truncate"><%= q.serverID %></li>
						<% }) %>
					</ul>
					<div class="card-action">
						<a href="<%= electionID %>/servers">Edit Servers</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-content">
						<span class="card-title">
							Voters
							<span id="voterCount" class="secondary-content"></span>
						</span>
					</div>
					<div class="card-action">
						<a href="<%= electionID %>/voters">Edit Voters</a>
					</div>
				</div>
			</div>
			
			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-content">
						<span class="card-title">
							Trustees
							<span id="trusteeCount" class="secondary-content"></span>
						</span>
					</div>
					<div class="card-action">
						<a href="<%= electionID %>/trustees">Edit Trustees</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<input type="hidden" id="electionID" value="<%= electionID %>">

			<div class="col s12" id="freeze_btn_col">
				<a class="waves-effect waves-light btn"><i class="material-icons right">lock</i>Freeze Election</a>
			</div>
		</div>
	</div>
</main>

<%- include('./inc/footer', {script: "<script src='/js/eMan.js'></script>"}); %>