<%- include('./inc/header', { page_title: "eVoting", css: "<link href='/css/eManQuestion.css' rel='stylesheet' type='text/css' />"}); %>

<main>
	<div class="row">
		<div class="col s12 l4">
			<div class="card">
				<div class="card-content">
					<h1 class="center-align thin">Edit questions</h1>
				</div>
			</div>
		</div>

		<div class="col s12 l8">
			<div class="row">
				<% questions.forEach(function(q, i){ %>
					<div class="col s12">
						<div class="card q_card">
							<div class="row">
								<div class="input-field col s12">
									<input id="title<%= i %>" type="text" class="q_title" value="<%= q.question %>">
									<label for="title<%= i %>" class="active">Question</label>
								</div>
								<% q.answers.forEach(function(a, j){ %>
									<div class="input-field col s12 optDiv">
										<i class="material-icons prefix">check_box_outline_blank</i>
										<input id="<%= i %>ans<%= j %>" type="text" value="<%= a %>">
										<label for="<%= i %>ans<%= j %>" class="active">Option</label>
									</div>
								<% }) %>
								<div class="col s12 btn_opt_add">
									<a class="btn-floating btn-small waves-effect waves-light deep-purple lighten-2"><i class="material-icons">add</i></a>
								</div>
								<div class="input-field col s12 l6">
									<input id="min<%= i %>" type="text" class="q_min" value="<%= q.min_choice %>">
									<label for="min<%= i %>" class="active">Minimium no. of choice(s)</label>
								</div>
								<div class="input-field col s12 l6">
									<input id="max<%= i %>" type="text" class="q_max" value="<%= q.max_choice %>">
									<label for="max<%= i %>" class="active">Maximium no. of choice(s)</label>
								</div>
							</div>
						</div>
					</div>
				<% }) %>

				<div class="col s12" id="btn_add_col">
					<a class="btn-floating btn-large waves-effect waves-light deep-orange lighten-2"><i class="material-icons">add</i></a>
				</div>

				<div class="col s12">
					<div class="card" id="admin_card">
						<div class="row">
							<div class="col s12">
								<h5>Election administrator key</h5>
							</div>
							<div class="input-field col s12">
								<textarea id="admin_pri" name="admin_pri" class="materialize-textarea"></textarea>
								<label for="admin_pri">Private key (for signing only, wont send to server)</label>
							</div>
						</div>
					</div>
				</div>

				<input id="electionID" type="hidden" value="<%= electionID %>">

				<div class="col s12">
					<button id="btn_submit" class="btn waves-effect waves-light right">Submit</button>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('./inc/footer', {script: "<script src='/js/eManQuestion.js'></script>"}); %>