<%- include('./inc/header', { page_title: "eVoting", css: ""}); %>

<main>
	<div class="row">
		<div class="col s12 l4">
			<div class="card">
				<div class="card-content">
					<h1 class="center-align thin">Edit servers</h1>
				</div>
			</div>
		</div>

		<div class="col s12 l8">
			<div class="row">
				<% servers.forEach(function(s, i){ %>
					<div class="col s12">
						<div class="card cardRowMargin s_card">
							<div class="row">
								<div class="input-field col s12">
									<input id="id<%= i %>" type="text" class="s_id" value="<%= s.serverID %>"
										<% if(s.serverID == global._config.serverID){ %>
											disabled
										<% } %>
									>
									<label for="id<%= i %>" class="active">Server ID</label>
								</div>
							</div>
						</div>
					</div>
				<% }) %>

				<div class="col s12 center-align" id="btn_add_col">
					<a class="btn-floating btn-large waves-effect waves-light deep-orange lighten-2"><i class="material-icons">add</i></a>
				</div>

				<div class="col s12">
					<div class="card cardRowMargin" id="admin_card">
						<div class="row">
							<div class="col s12">
								<h5>Election administrator key</h5>
							</div>
							<div class="input-field col s12">
								<textarea id="admin_pri" name="admin_pri" class="materialize-textarea"></textarea>
								<label for="admin_pri">Private key (for signing only, wont send to server)</label>
							</div>
						</div>
					</div>
				</div>

				<input id="electionID" type="hidden" value="<%= electionID %>">

				<div class="col s12">
					<button id="btn_submit" class="btn waves-effect waves-light right">Submit</button>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('./inc/footer', {script: "<script src='/js/eManServer.js'></script>"}); %>